{% extends 'produk/base.html' %}
{% block title %}{{ aksi }} Produk{% endblock %}
{% block content %}
<h4 class="fw-semibold mb-4 text-center">{{ aksi }} Produk</h4>
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-between">
          <a href="{% url 'list_produk' %}" class="btn btn-secondary">← Kembali</a>
          <button type="submit" class="btn btn-primary">{{ aksi }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
